{
    "listening_port": "12345",
    "suboram_addrs": [
        ["enclave1:12346"],
        ["enclave2:12346"],
        ["enclave3:12346"],
        ["enclave4:12346"],
        ["enclave5:12346"],
        ["enclave6:12346"],
        ["enclave7:12346"],
        ["enclave8:12346"],
        ["enclave9:12346"],
        ["enclave10:12346"],
        ["enclave11:12346"],
        ["enclave12:12346"],
        ["enclave13:12346"],
        ["enclave14:12346"],
        ["enclave15:12346"],
        ["enclave16:12346"]
    ],
    "epoch_ms": 1000,
    "num_blocks": 16777216,
    "balancer_id": 0,
    "threads": 8,
    "mode": "server"
}
