{
    "listening_port": "12345",
    "suboram_addrs": [
        ["enclave4:12346"],
        ["enclave5:12346"],
        ["enclave6:12346"],
        ["enclave7:12346"],
        ["enclave8:12346"],
        ["enclave9:12346"],
        ["enclave10:12346"],
        ["enclave11:12346"],
        ["enclave12:12346"],
        ["enclave13:12346"],
        ["enclave14:12346"],
        ["enclave15:12346"],
        ["enclave16:12346"],
        ["enclave17:12346"],
        ["enclave18:12346"],
        ["enclave19:12346"],
        ["enclave20:12346"],
        ["enclave21:12346"],
        ["enclave22:12346"],
        ["enclave23:12346"],
        ["enclave24:12346"],
        ["enclave25:12346"],
        ["enclave26:12346"],
        ["enclave27:12346"],
        ["enclave28:12346"],
        ["enclave29:12346"],
        ["enclave30:12346"],
        ["enclave31:12346"],
        ["enclave32:12346"],
        ["enclave33:12346"],
        ["enclave34:12346"],
        ["enclave35:12346"]
    ],
    "epoch_ms": 50,
    "max_latency_ms": 4000,
    "num_blocks": 16777216,
    "balancer_id": 2,
    "threads": 8,
    "mode": "server"
}
